<div class="card border-0 text-start">
  <div class="card-body" />
    <div class="card-title fs-4 fw-semibold d-flex justify-content-between">
      Catalog&nbsp;&nbsp;
      <span class="badge rounded-pill <%= catalog_ok? && !any_complete_moab_errors? ? 'bg-success' : 'bg-danger' %>">
        <%= catalog_ok? && !any_complete_moab_errors? ? 'OK' : 'Error' %>
      </span>
    </div>
    <ul class="list-group border border-2 border-secondary">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <h6 class="d-flex justify-content-start">Object / Version Counts&nbsp;&nbsp;</h6>
        <span class="badge rounded-pill <%= catalog_ok? ? 'bg-success' : 'bg-danger' %>">
          <%= catalog_ok? ? 'OK' : 'Error' %>
        </span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <h6 class="d-flex justify-content-start">CompleteMoab Statuses&nbsp;&nbsp;</h6>
        <span class="badge rounded-pill <%= any_complete_moab_errors? ? 'bg-danger' : 'bg-success' %>">
          <%= any_complete_moab_errors? ? 'Error' : 'OK' %>
        </span>
      </li>
    </ul>
  </div>
</div>