<h2>Moabs on Storage - Status Information</h2>
<p><strong class="fs-4">PreservedObject</strong> records store the druid and links to db records about both the Moab on local storage and all the replicated instances in the cloud.</p>
<p><strong class="fs-4">CompleteMoab</strong> records are about the Moab on storage.</p>
<hr/>
<div class="row row-cols-2">
  <div class="column col-5">
    <turbo-frame id="complete-moab-versions" src="<%= dashboard_complete_moab_versions_path %>" loading="lazy">
      <%= render Spinner.new %>
    </turbo-frame>
  </div>
  <div class="column col-7">
    <turbo-frame id="complete-moab-info" src="<%= dashboard_complete_moab_info_path %>" loading="lazy">
      <%= render Spinner.new %>
    </turbo-frame>
  </div>
</div>
<hr/>

<turbo-frame id="storage-root-data" src="<%= dashboard_storage_root_data_path %>" loading="lazy">
  <%= render Spinner.new %>
</turbo-frame>
