<div class="px-5">
  <h1 class="text-secondary">Preservation Dashboard</h1>
  <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#about" aria-expanded="false" aria-controls="about">
    About PreservationCatalog
  </button>
  <div class="collapse" id="about">
    <p><span class="fs-4">Preservation Catalog</span> is both a "catalog" and services:</p>
    <ul>
      <li><strong>Database</strong> (i.e. "catalog")
        <ul>
          <li>tracks the state of SDR objects preserved in both on premises storage and the cloud. </li>
        </ul>
      <li><strong>Services</strong>:
        <ul>
          <li><strong>API</strong> - add to, update, and query the database</li>
          <li><strong>Replication</strong> - when Moabs on storage are created or updated via the API, zipped Moab versions are sent to cloud endpoints.</li>
          <li><strong>Audits</strong> - ensure all is well with Moabs on storage and with zipped files in the cloud, and that the database is accurate.</li>
          <li>this dashboard</li>
        </ul>
      </li>
    </ul>
  </div>
  <hr/>
  <div class="row row-cols-2">
    <div class="col-3 col-rows-3 sidenav">
      <ul class="nav nav-pills row-3" id="dashboardTab">
        <li class="nav-link text-reset" id="catalog-tab" data-bs-toggle="pill" data-bs-target="#catalog-tab-pane" type="button" aria-selected="true">
          <turbo-frame id="moab-status" src="<%= dashboard_moab_storage_status_path %>" loading="lazy">
            <%= render Spinner.new %>
          </turbo-frame>
        </li>
        <li class="nav-link text-reset" id="replication-tab" data-bs-toggle="pill" data-bs-target="#replication-tab-pane" type="button">
          <turbo-frame id="replication-status" src="<%= dashboard_replication_status_path %>" loading="lazy">
            <%= render Spinner.new %>
          </turbo-frame>
        </li>
        <li class="nav-link text-reset" id="audit-tab" data-bs-toggle="pill" data-bs-target="#audit-tab-pane" type="button" role="button">
          <turbo-frame id="audit-status" src="<%= dashboard_audit_status_path %>" loading="lazy">
            <%= render Spinner.new %>
          </turbo-frame>
        </li>
      </ul>
    </div>
    <div class="tab-content col-9" id="main">
      <div class="tab-pane fade" id="catalog-tab-pane" role="tabpanel" aria-selected="true" tabindex="0">
        <%= render partial: 'moab_information' %>
      </div>
      <div class="tab-pane fade" id="replication-tab-pane" role="tabpanel" aria-labelledby="replication-tab" tabindex="0">
        <%= render partial: 'replication_information' %>
      </div>
      <div class="tab-pane fade" id="audit-tab-pane" role="tabpanel" aria-labelledby="audit-tab" tabindex="0">
        <turbo-frame id="audit-info" src="<%= dashboard_audit_info_path %>" loading="lazy">
          <%= render Spinner.new %>
        </turbo-frame>
      </div>
    </div>
  </div>
</div>
