<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Preservation Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="px-5 col-12">
      <h1>Preservation Dashboard</h1>
      <nav>
        <div class="nav nav-tabs row row-cols-3" id="statusTab" role="tablist">
          <button class="nav-link column col-2 active" id="status-tab" data-bs-toggle="tab" data-bs-target="#status-tab-pane" type="button" role="tab" aria-controls="status-tab-pane" aria-selected="true"><%= render partial: 'catalog_status' %></button>
          <button class="nav-link column col-2" id="replication-tab" data-bs-toggle="tab" data-bs-target="#replication-tab-pane" type="button" role="tab" aria-controls="replication-tab-pane" aria-selected="false"><%= render partial: 'replication_status' %></button>
          <div class="column col-8"><button class="nav-link" id="audit-tab" data-bs-toggle="tab" data-bs-target="#audit-tab-pane" type="button" role="tab" aria-controls="audit-tab-pane" aria-selected="false"><%= render partial: 'audit_status' %></button></div>
        </div>
      </nav>
      <div class="tab-content" id="statusTabContent">
        <div class="tab-pane fade show active" id="status-tab-pane" role="tabpanel" aria-labelledby="status-tab" tabindex="0"><%= render partial: 'catalog_information' %></div>
        <div class="tab-pane fade" id="replication-tab-pane" role="tabpanel" aria-labelledby="replication-tab" tabindex="0"><%= render partial: 'replication_information' %></div>
        <div class="tab-pane fade" id="audit-tab-pane" role="tabpanel" aria-labelledby="audit-tab" tabindex="0"><%= render partial: 'audit_information' %></div>
      </div>
      <hr style="opacity:1"/>
      <div>
        <h2>TBD: Forms for admins to do stuff?</h2>

        <p>TBD: form for <b>checking state</b> of a particluar druid or set of druids - status, number of versions ...</p>
        <p>TBD: form for doing <b>audit checks by druid</b> for one or more druids</p>
        <p>TBD: form for doing <b>audit checks by storage root</b></p>
      </div>
    </div>
  </body>
</html>