<div class="px-5 col-12">
  <h1 class="text-secondary">Preservation Dashboard - option 2</h1>
  <nav>
    <div class="nav nav-tabs row row-cols-3" style="--bs-nav-tabs-border-width:4px;--bs-nav-tabs-border-radius:2rem" justify-content-start" id="statusTab" role="tablist">
      <button class="nav-link col-3 d-flex align-items-end active" id="catalog-tab" data-bs-toggle="tab" data-bs-target="#catalog-tab-pane" type="button" role="tab" aria-controls="catalog-tab-pane" aria-selected="true">
        <turbo-frame id="catalog_status">
          <%= render partial: 'catalog_status2' %>
        </turbo-frame>
      </button>
      <button class="nav-link col-3 d-flex align-items-end" id="replication-tab" data-bs-toggle="tab" data-bs-target="#replication-tab-pane" type="button" role="tab" aria-controls="replication-tab-pane" aria-selected="false">
        <turbo-frame id="replication_status">
          <%= render partial: 'replication_status2' %>
        </turbo-frame>
      </button>
      <button class="nav-link col-4 d-flex align-items-end" id="audit-tab" data-bs-toggle="tab" data-bs-target="#audit-tab-pane" type="button" role="tab" aria-controls="audit-tab-pane" aria-selected="false">
        <turbo-frame id="audit_status">
          <%= render partial: 'audit_status2' %>
        </turbo-frame>
      </button>
    </div>
  </nav>
  <div class="tab-content" id="statusTabContent">
    <div class="tab-pane fade show active" id="catalog-tab-pane" role="tabpanel" aria-labelledby="catalog-tab" tabindex="0">
      <turbo-frame id="catalog_information">
        <%= render partial: 'catalog_information' %>
      </turbo-frame>
    </div>
    <div class="tab-pane fade" id="replication-tab-pane" role="tabpanel" aria-labelledby="replication-tab" tabindex="0">
      <turbo-frame id="replication_information">
        <%= render partial: 'replication_information' %>
      </turbo-frame>
    </div>
    <div class="tab-pane fade" id="audit-tab-pane" role="tabpanel" aria-labelledby="audit-tab" tabindex="0">
      <turbo-frame id="audit_information">
        <%= render partial: 'audit_information' %>
      </turbo-frame>
    </div>
  </div>
</div>