<div class="col-sm-12">
  <h3>MoabStorageRoot Information</h3>

  <p><strong class="fs-5">MoabStorageRoot</strong> records represent an on premises storage location for a Moab.</p>

  <div class="col-sm-11">
    <table class="table table-bordered table-hover table-sm">
      <thead class="table-info">
        <tr>
          <th class="col-2">root name</th>
          <th class="col-4">storage location</th>
          <th class="col-1">total size</th>
          <th class="col-1">average size</th>
          <th class="col-1">moab count</th>
          <% status_labels.map do |status| %>
            <th class="col-sm-1 text-center"><%=status %></th>
          <% end %>
          <th class="col-sm-1">expired checksum audit</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% storage_root_info.each do |root_name, info| %>
          <tr>
            <td><%= root_name %></td>
            <td><%= info[0] %></td><%# storage location %>
            <td><%= info[1] %></td><%# total size %>
            <td><%= info[2] %></td><%# average size %>
            <td class="text-end"><%= info[3] %></td><%# moab count %>
            <td class="text-end"><%= info[4] %></td><%# ok status %>
            <% info[5..-2].map do |val| %>
              <td class="text-end<%= ' table-danger' if val != 0 %>"><%= val %></td>
            <% end %>
            <% num_expired_checksum = info[10] %>
            <td class="text-end<%= ' table-warning' if num_expired_checksum != 0 %>"><%= num_expired_checksum %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot class="table-group-divider">
        <tr>
          <th>totals</th>
          <td class="table-secondary"/>
          <td class="table-secondary"/>
          <td class="table-secondary"/>
          <td class="text-end<%= ' table-danger' if storage_root_total_count != num_complete_moabs %>"><%= storage_root_total_count %></td>
          <td class="text-end"><%= storage_root_total_ok_count %></td>
          <% storage_root_totals[2..-2]&.each do |count| %>
            <td class="text-end<%= ' table-danger' if count != 0 %>"><%= count %></td>
          <% end %>
          <% total_num_expired_checksum = storage_root_totals[7] %>
          <td class="text-end<%= ' table-warning' if total_num_expired_checksum != 0 %>"><%= total_num_expired_checksum %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
