<div>
  <h3>MoabRecord Information</h3>
  <div class="col-sm-5">
    <table class="table table-bordered table-hover">
      <thead class="table-info">
        <tr>
          <th>count</th>
          <th>total size</th>
          <th>average size</th>
          <% status_labels.map do |status| %>
            <th class="text-center"><%= status %></th>
          <% end %>
          <th>expired checksum audit</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="text-end">
          <td><%= num_preserved_objects %></td>
          <td><%= moab_record_total_size %></td>
          <td><%= moab_record_average_size %></td>
          <td><%= moab_record_status_counts[0] %></td>
          <% moab_record_status_counts[1..].map do |val| %>
            <td class="<%= 'table-danger' if val != 0 %>"><%= val %></td>
          <% end %>
          <td class="<%= 'table-warning' if moabs_with_expired_checksum_validation? %>"><%= num_moab_expired_checksum_validation %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
