<h3>Counts and Version Information</h3>

<div class="col-sm-4">
  <table class="table table-bordered table-hover table-sm">
    <thead class="table-info">
      <tr>
        <th/>
        <th>count</th>
        <th>object version count</th>
        <th>highest version</th>
        <th>average version</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>PreservedObject</td>
        <td class="text-end<%= ' table-danger' unless preserved_object_moab_record_counts_match? %>"><%= num_preserved_objects %></td>
        <td class="text-end<%= ' table-danger' unless num_object_versions_preserved_object_moab_record_match? %>"><%= num_object_versions_per_preserved_object %></td>
        <td class="text-end<%= ' table-danger' unless highest_version_preserved_object_moab_record_match? %>"><%= preserved_object_highest_version %></td>
        <td class="text-end"><%= average_version_per_preserved_object %></td>
      </tr>
      <tr>
        <td>MoabRecord</td>
        <td class="text-end<%= ' table-danger' unless preserved_object_moab_record_counts_match? %>"><%= num_moab_records %></td>
        <td class="text-end<%= ' table-danger' unless num_object_versions_preserved_object_moab_record_match? %>"><%= num_object_versions_per_moab_record %></td>
        <td class="text-end<%= ' table-danger' unless highest_version_preserved_object_moab_record_match? %>"><%= moab_record_highest_version %></td>
        <td class="text-end"><%= average_version_per_moab_record %></td>
      </tr>
    </tbody>
  </table>
</div>
