<div>
  <h4>Replication Files</h4>

  <p>ZippedMoabVersion are turned into one or more zip files (ZipParts), each no more than 10G.</p>

  <div class="col-sm-6">
    <table class="table table-bordered table-hover">
      <thead class="table-info">
        <tr>
          <th>Total ZipParts (count)</th>
          <th>Total Size of all ZipParts</th>
          <th class="text-center">ok</th>
          <th class="text-center">replicated checksum mismatch</th>
          <th class="text-center">unreplicated</th>
          <th class="text-center">not found</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td><%= ZipPart.count %></td>
          <td><%= zip_parts_total_size %></td>
          <td class="text-end"><%= ZipPart.ok.count %></td>
          <td class="text-end<%= ' table-danger' if zip_parts_replicated_checksum_mismatch? %>"><%= ZipPart.replicated_checksum_mismatch.count %></td>
          <td class="text-end<%= ' table-warning' if zip_parts_unreplicated? %>"><%= ZipPart.unreplicated.count %></td>
          <td class="text-end<%= ' table-danger' if zip_parts_not_found? %>"><%= ZipPart.not_found.count %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

