<div>
  <h4>Replication Files</h4>

  <p>ZippedMoabVersion are turned into one or more zip files (ZipParts), each no more than 10G.</p>

  <div class="col-sm-6">
    <table class="table table-bordered table-hover">
      <thead class="table-info">
        <tr>
          <th class="text-center">replicated checksum mismatch</th>
          <th class="text-center">unreplicated</th>
          <th class="text-center">not found</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td class="text-end<%= ' table-danger' if zip_parts_replicated_checksum_mismatch? %>"><%= zip_parts_replicated_checksum_mismatch_count %></td>
          <td class="text-end<%= ' table-warning' if zip_parts_unreplicated? %>"><%= zip_parts_unreplicated_count %></td>
          <td class="text-end<%= ' table-danger' if zip_parts_not_found? %>"><%= zip_parts_not_found_count %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
