<div class="card border-0 text-start">
  <div class="card-body" />
    <div class="card-title fs-4 fw-semibold d-flex justify-content-between">
      Replication Zips
      <span class="badge rounded-pill <%= replication_zips_badge_class %>">
        <%= replication_zips_status_label %>
      </span>
    </div>
    <ul class="list-group border border-2 border-secondary">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <h6 class="d-flex justify-content-start">ZipPart Statuses</h6>
        <span class="badge rounded-pill <%= zip_parts_badge_class %>">
          <%= zip_parts_status_label %>
        </span>
      </li>
      <%= render Dashboard::ReplicationEndpointStatusComponent.with_collection(endpoints) %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <h6><a href="queues">Redis queues</a></h6>
      </li>
    </ul>
  </div>
</div>
