<div>
  <h4>Endpoint Data</h4>
  <p>The database uses ZippedMoabVersion to track which versions of which Moabs have been replicated to which replication endpoints.</p>
  <p>The ZippedMoabVersion replicated count for each endpoint should match the number of object versions according to PreservedObject data.</p>
  <div class="col-sm-4">
    <table class="table table-bordered table-hover">
      <thead class="table-info">
        <tr>
          <th>endpoint name</th>
          <th>ActiveJob class for replication</th>
          <th class="text-center">ZippedMoabVersion replicated count<br>(according to database)</th>
          <th class="text-center">Number of Object Versions<br>(per PreservedObject)</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% endpoint_data.each do |endpoint_name, info| %>
          <tr>
            <td><%= endpoint_name %></td>
            <td><%= info[:delivery_class] %></td>
            <% replication_count = info[:replication_count] %>
            <td class="text-end<%= ' table-danger' unless endpoint_replication_count_ok?(replication_count) %>"><%= replication_count %></td>
            <td class="text-end"><%= num_object_versions_per_preserved_object %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
