<div class="container mt-4">
  <h1>ZippedMoabVersions in failed status</h1>

  <table class="table" id="zipped-moab-versions-with-errors-table">
    <thead>
      <tr>
        <th scope="col">Druid</th>
        <th scope="col">Status</th>
        <th scope="col">Status detail</th>
        <th scope="col">Last updated</th>
      </tr>
    </thead>
    <tbody>
      <% @zipped_moab_versions.each do |zipped_moab_version| %>
        <tr>
          <th scope="row"><%= link_to zipped_moab_version.druid, dashboard_object_path(zipped_moab_version.druid) %></th>
          <td><%= zipped_moab_version.status %></td>
          <td><%= zipped_moab_version.status_details %></td>
          <td><%= l zipped_moab_version.status_updated_at %></td>
        </tr>
      <% end %>
      <% if @zipped_moab_versions.empty? %>
        <tr>
          <td colspan="4">No records found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @zipped_moab_versions %>
</div>
