<div class="container mt-4">
  <h1>Preservation System Status Overview</h1>

  <h2 class="mt-5">Object Status Errors</h2>
  <table class="table" id="status-errors-table">
    <thead>
      <tr>
        <th scope="col">Record type</th>
        <th scope="col">With errors</th>
        <th scope="col">Stuck</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">MoabRecords</th>
        <td><%= link_to number_with_delimiter(MoabRecord.with_errors.count), with_errors_dashboard_moab_records_path %></td>
        <td><%= link_to number_with_delimiter(MoabRecord.stuck.count), stuck_dashboard_moab_records_path %></td>
      </tr>
      <tr>
        <th scope="row">ZippedMoabVersions</th>
        <td><%= link_to number_with_delimiter(ZippedMoabVersion.with_errors.count), with_errors_dashboard_zipped_moab_versions_path %></td>
        <td><%= link_to number_with_delimiter(ZippedMoabVersion.stuck.count), stuck_dashboard_zipped_moab_versions_path %></td>
      </tr>
    </tbody>
  </table>

  <hr class="my-5">

  <h2>System Level Warnings</h2>

  <p>Large counts for any of the following may indicate system level issues that need investigation.</p>

  <table class="table" id="system-warnings-table">
    <thead>
      <tr>
        <th scope="col">Warning</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">MoabRecord with validity_unknown status</th>
        <td><%= number_with_delimiter(MoabRecord.validity_unknown_count) %></td>
      </tr>
      <tr>
        <th scope="row">ZippedMoabVersions with created status</th>
        <td><%= number_with_delimiter(ZippedMoabVersion.created_count) %></td>
      </tr>
      <tr>
        <th scope="row">ZippedMoabVersions with incomplete status</th>
        <td><%= link_to number_with_delimiter(ZippedMoabVersion.incomplete_count), incomplete_dashboard_zipped_moab_versions_path %></td>
      </tr>
      <tr>
        <th scope="row">Missing ZippedMoabVersions</th>
        <td><%= number_with_delimiter(ZippedMoabVersion.missing_count) %></td>
      </tr>
      <tr>
        <th scope="row">Expired MoabRecord checksum validations + 7 day grace</th>
        <td><%= number_with_delimiter(MoabRecord.expired_checksum_validation_with_grace_count) %></td>
      </tr>
      <tr>
        <th scope="row">Expired PreservedObject replication audits + 7 day grace</th>
        <td><%= number_with_delimiter(PreservedObject.expired_archive_audit_with_grace_count) %></td>
      </tr>
    </tbody>
  </table>
</div>
