<table class="table table-sm mb-5 caption-header border">
<caption class="header ps-2" style="caption-side: top; background-color: var(--bs-table-border-color);">Details</caption>
  <tbody>
    <tr>
      <th scope="row">Druid</th>
      <td><%= druid %></td>
    </tr>
    <tr>
      <th scope="row">Current Version</th>
      <td><%= current_version %></td>
    </tr>
    <tr>
      <th scope="row">Created</th>
      <td><%= created_at %></td>
    </tr>
    <tr>
      <th scope="row">Last Updated</th>
      <td><%= updated_at %></td>
    </tr>
    <tr>
      <th scope="row">Last Archive Audit</th>
      <td><%= last_archive_audit %></td>
    </tr>
    <tr>
      <th scope="row">Robot Versioning Allowed</th>
      <td><%= robot_versioning_allowed %></td>
    </tr>
  </tbody>
</table>
