  <table id="zip-part-table-<%= id %>" class="table table-sm mb-5 caption-header border">
    <caption class="header ps-2" style="caption-side: top; background-color: var(--bs-table-border-color);">Zip Part</caption>
    <tbody>
      <tr>
        <th scope="row">Size</th>
        <td><%= size %></td>
      </tr>
      <tr>
        <th scope="row">Checksum</th>
        <td><%= md5 %></td>
      </tr>
      <tr>
        <th scope="row">Created At</th>
        <td><%= created_at %></td>
      </tr>
      <tr>
        <th scope="row">Updated At</th>
        <td><%= updated_at %></td>
      </tr>
    </tbody>
  </table>
