<li>Zip Part:
  <ul>
    <li>Size <%= size %></li>
    <li>Checksum: <%= md5 %></li>
    <li>Created At: <%= created_at %></li>
    <li>Updated At: <%= updated_at %></li>
    <li>Create Info: <%= create_info %></li>
    <li>Status: <%= status %></li>
    <li>Last Existence Check: <%= last_existence_check %></li>
    <li>Last Checksum Validation: <%= last_checksum_validation %></li>
  </ul>
</li>
