  <h2>Zipped Moab Version: <%= version %></h2>
  <ul>
    <li>Created: <%= created_at %></li>
    <li>Last Updated: <%= updated_at %></li>
    <li>Zip Endpoint: <%= endpoint_name %></li>
    <li>Delivery Class: <%= delivery_class %></li>
    <li>Endpoint Node: <%= endpoint_node %></li>
    <li>Storage Location: <%= storage_location %></li>
    <% if zip_parts.empty? %>
      <li><strong>No zip parts available.</strong></li>
    <% else %>
      <% zip_parts.each do |zip_part| %>
        <%= render Show::ZipPartComponent.new(zip_part:) %>
      <% end %>
    <% end %>
  </ul>
