<div class="row">
  <div class="col-md-6">
    <table id="zipped-moab-version-table-<%= id %>" class="table table-sm mb-5 caption-header border">
      <caption class="header ps-2" style="caption-side: top; background-color: var(--bs-table-border-color);">Zipped Moab Version</caption>
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td><%= id %></td>
        </tr>
        <tr>
          <th scope="row">Version</th>
          <td><%= version %></td>
        </tr>
        <tr>
          <th scope="row">Zip parts count</th>
          <td><%= zip_parts_count %></td>
        </tr>
        <tr>
          <th scope="row">Created</th>
          <td><%= created_at %></td>
        </tr>
        <tr>
          <th scope="row">Last Updated</th>
          <td><%= updated_at %></td>
        </tr>
        <tr>
          <th scope="row">Zip Endpoint</th>
          <td><%= endpoint_name %></td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td><%= status %></td>
        </tr>
        <tr>
          <th scope="row">Status Details</th>
          <td><%= status_details %></td>
        </tr>
        <tr>
          <th scope="row">Status Last Updated</th>
          <td><%= status_updated_at %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <% if zip_parts.empty? %>
      <p>No zip parts found for this zipped moab version.</p>
    <% else %>
      <% zip_parts.each do |zip_part| %>
        <%= render Show::ZipPartComponent.new(zip_part:) %>
      <% end %>
    <% end %>
  </div>
</div>
